
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 115

BreakBeforeBraces: Allman

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: true

PointerAlignment: Left
ReferenceAlignment: Left

AlignAfterOpenBracket: Align
AlignOperands: Align
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive

SortIncludes: CaseSensitive
IncludeBlocks: Regroup

NamespaceIndentation: All
IndentCaseLabels: true

Cpp11BracedListStyle: true
